<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img class="imagen" src="images.jpg" alt="pannnn">{{titulo}}</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/productos">Almacen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/trabajadores">Trabajadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/turnos">Turnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/ventas">Ventas</a>
        </li>
        </ul>
    </div>
    <button class="btn btn-outline-danger" (click)="logOut()" type="button">Log Out</button>
  </div>
</nav>
