<app-tabla-filtrar
  [datos]="datos"
  [opciones]="true"
  [tituloButton]="'Editar'"
  [filtrado]="'turno'"
  [columnas]="[
    { titulo: 'Nombre', propiedad: 'nombre' },
    { titulo: 'Turno', propiedad: 'numeroTurno'},
    { titulo: 'Salario', propiedad: 'salario' },
    { titulo: 'Cargo', propiedad: 'Cargo.nombre' }
  ]"
  [propiedadFiltro]="'numeroTurno'"
  [tituloTabla]="`Trabajadores: (${datos.length})`"
  (onDetalles)="openDialogAdd($event)"
  (onEliminar)="deleteTrabajador($event)"
  (onFuncion)="openDialogAdd()"
></app-tabla-filtrar>
