.encabez{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-add {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.eliminar-icono {
  cursor: pointer;
}
.eliminar-icono:hover {
  opacity: 0.8;
  /* o cualquier otro efecto que quieras */
}
